/* Good Morning CSS */

@font-face {
    font-family: balsa;
    src: url(balsa.woff2);
   }
   @font-face {
    font-family: comfy;
    src: url(comfy.woff2);
   }

   /*mobile*/
   @media only screen and (max-device-width: 480px){

    body{
        background-image: url("backgrounddaymobilever.jpg");
        background-size: 100% 100vh;
        
    }

    div{
            background-color:#FFC8DD;
            font-family: balsa;
            font-size: 20px;
            color: #edf6f9;
            margin: 18vh auto;
            border-color:#CDB4DB;
            border-style: dashed;
            border-radius: 30px;
            text-align: center;
            width: 90%;
            height: 80%;
            
        }

    h1{
        font-family:comfy;
        font-size: larger;
        text-align:center;
        color:#fefae0;
        margin-bottom: 40px;
    }

    #greet{
        display: block;
        margin-left:auto;
        margin-right:auto;
        width: 70%;
        object-fit: scale-down;
        border-color:#ffb703;
        border-style:dotted;
    }

    #time{
        background-color: #CC2B52;
        font-size: large;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 20px;
        min-width: 50%;
        max-width: 50%;
        border-radius: 10px;
    }

   }

   /*desktop*/
   @media only screen and (min-width : 992px){

    body{
        background-image:url("backgroundday.jpg");
        background-size: 47% 100vh;
    }

    h1{
        font-family:comfy;
        text-align:center;
        color:#fefae0;
    }

    #greet{
        display: block;
        margin-left:auto;
        margin-right:auto;
        border-color:#ffb703;
        border-style:dotted;
        object-fit: scale-down;
    }

    div{
        background-color:#FFC8DD;
        font-family: balsa;
        font-size: 20px;
        color: #edf6f9;
        margin:0 auto;
        margin-top: 3%;
        border-color:#CDB4DB;
        border-style: dashed;
        border-radius: 30px;
        text-align: center;
        width: 50%;
    }

    #time{
        background-color: #CC2B52;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 20px;
        min-width: 50%;
        max-width: 50%;
        border-radius: 10px;
    }
}
